* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto/
    1fr;
}

a {
  text-decoration: none;
  color: #000;
}
ul{
  list-style: none;
}

.header {
  background-color: #313132;
}

.menu-bar-list {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  list-style: none;
  gap: 2rem;
  place-items: center;
  padding: 1rem;
}
.list-item a {
  color: #d6d6d6;
}

.apple-logo {
  width: 40px;
}
.search-logo {
  width: 30px;
}
.bag-logo {
  width: 20px;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(129, 136, 151);
}

.main-div{
  padding: 1rem;
}
.main-section {
  text-align: center;
  place-content: center;
  place-items: center;
  }

  .main-nav-list{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}

.main-nav-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-decoration: none;
  color:#06c;
}





.main-header1 {
  display: grid;
  grid-auto-flow: column;
  background-color: #f5f5f7;
  padding: 0.7rem;
 

}

.main-header-link{
  color:#06c;
}

.main-title{
  font-size: 3rem
}



.footer {
  grid-area: footer;
  background-color: tomato;
  display: grid;
  grid-template-columns: 1fr;
}
