* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto/
    1fr;
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}

.header {
  background-color: #313132;
  position: sticky;
  top: 0;
  backdrop-filter: 10px;
}

.menu-bar-list {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  list-style: none;
  gap: 2rem;
  place-items: center;
  padding: 0.3rem;
}
.list-item a {
  color: #d6d6d6;
}

.apple-logo {
  width: 40px;
}
.search-logo {
  width: 30px;
}
.bag-logo {
  width: 20px;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.main-div {
  background-image: url(https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-40-iphone-13-pro-202203_FMT_WHH?wid=618&hei=900&fmt=p-jpg&qlt=95&.v=1645052290458);
  background-size: 800px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 800px;
  background-color: #ffffff;
  display: grid;
  padding: 1rem;
  align-content: start;
  gap: 0.5rem;
}
.main-section {
  text-align: center;
  place-content: center;
}

.main-nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}

.main-nav-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-decoration: none;
  color: #06c;
  font-size: 1.3rem;
}

.main-header1 {
  display: grid;
  grid-auto-flow: column;
  background-color: #f5f5f7;
  padding: 0.7rem;
}

.main-header-link {
  color: #06c;
}

.main-title {
  font-size: 3.5rem;
}

.main-subtitle {
  font-weight: 100;
  font-size: 2rem;
}

.second-main {
  background-image: url(https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-se-gallery1-thumb-202203?wid=406&hei=240&fmt=jpeg&qlt=90&.v=1644977439052);
  background-size: 800px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 550px;
  background-color: #ffffff;
  display: grid;
  padding: 1rem;
  align-content: start;

  gap: 0.5rem;
  text-align: center;
  justify-content: center;

  margin-top: 50px;
}

.main-second-section {
  text-align: center;
  place-content: center;
}

.main-second-nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}

.main-second-nav-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-decoration: none;
  color: #06c;
  font-size: 1.3rem;
}

.main-second-title {
  font-size: 3.5rem;
}

.main-second-subtitle {
  font-weight: 100;
  font-size: 2rem;
}

.se-class {
  border: 0.3rem solid black;
  border-radius: 30%;
  font-size: 35px;
}
.header-3 {
  font-size: 25px;
  font-weight: 50;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 0.1rem;
}

.products {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #000;
}

.footer {
  grid-area: footer;
  background-color: tomato;
  display: grid;
  grid-template-columns: 1fr;
}
